*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:white;
    font-family: Arial, Helvetica, sans-serif;
}

#fix{
    padding-top: 30px;
    margin-top:65%;
.wrap {
    width: 1152px;
    padding: 0 0120px;
    display:flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    font-size:25px;
    font-style: italic;
}
#padding-between{
    padding-bottom: 10px;
    font-family: cursive;
}
.center {
    padding-top: 4%;
    text-align: center;
    position: relative;
}

#fix{
    padding-top: 30px;
    margin-top:50%;
    text-align: center;
    font-family: cursive;
    font-size: 45px;
}
.wrapper {
    margin-top: 10%;
}
#img1 {
    border-radius: 50%;
}
#img2 {
    border-radius: 50%;
}
#img3 {
    border-radius: 50%;
}
.team {
    display:flex;
    text-align: center;
    width: auto;
    justify-content: center;
}
.team .team_member {
    background: #859398;
    margin:5px;
    margin-bottom:50px;
    width: 250px;
    padding: 11px;
    line-height:20px;
    color:white;
    position: relative;
    border-radius: 20%;
    background: rgba( 255, 255, 255, 0.10 );
box-shadow: 0 8px 32px 0 rgba(9, 10, 27, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 30px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.team .team_member h3 {
    color:black;
    font-size: 26px;
    margin-top: 50px;
}
.team .team_member p.role {
    color:black;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}
.team .team_member .team_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:-50%;
    left: 50%;
    transform: translateX(-50%);
    background: white;

}
.team .team_member .team_img img {
    width: 100px;
    height: 100px;
}
.fa-github{
    color:black;
    font: size 25px;
}
.footer-bottom {
    background: black;
    text-align: center;
    width: 100vw;
    padding: 20px 0;
    color:white;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
    
section {
    width: 120vh;
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction:row ;
    padding: 0px 50px;
    background:#859398;
   
}
section .content {
flex: 2;
text-align: justify;
padding-right: 40px ;
}
section .content h2 {
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
}
section .content h4{
   color: black; 
   margin-top: 50px;
   font-size: 17px;
   font-family:'Courier New', Courier, monospace
}
    

/* .content { 
    margin-top: 10%;
    font-size: 22px;
    width: 100vw;
    padding: 30px 0;

}*/
#chnge {
    padding-top: 10px;
    margin-top:10%;
    text-align: center;
    font-size: 40px; 
    font-family:cursive;  
}
.founder {
    margin-top: 15px;
    margin-bottom: 15px;
}
.n {
    text-align: center;
    padding-left: 104%;
    margin: 3% auto;
    font-size:  20px;
    
}
#border{
    border-radius: 50%;
}
.founder_img {
    width: 100px;
    height: 50px;
    border-radius: 20%;
    position: absolute;
     margin-left: 400px;
     margin-top:135px
}
.inner-container {
width: 55%;
float: right;
background-color: white;
padding: 140px;
margin-top: 0px;
margin-bottom: 0px;
font-size: 25px;
font-style: italic;
}


     
