/* Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&family=Jost:wght@100;200;300;400;500;700;900&family=Abel:wght@100;200;300;400;500;700;900&family=Limelight:wght@100;200;300;400;500;700;900&display=swap');

/* 
    Author: Sandeep p.s, Mukil Mukesh;
    Theme: Test version: Marketing Blog;
    version: 1.0;
*/ 

/* CSS for DOM*/
* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: "Jost", Helvetica, Abel;
    text-decoration: none;
    text-transform: capitalize;
}

/* CSS for Body */
body{
    background-color: #ffffff;
    background-position: center;
    background-size: cover;

}

/* CSS for header */
header{
    position:fixed;
    text-shadow: 50vh;
    top: 0; left: 0; right: 0;
    background-color:
    background-color:#f1f2f6;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    padding: 14px 6%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 800;

}

/* CSS for logo */
header .logo {
    font-weight: bolder;
    font-family: Jost;
    font-size: 35px;
    color: #485460;
}

/* CSS for nav menus including li alone*/
header .navbar ul li{
    list-style: none;
    position: relative;
    float: left;
    padding: 0 10px;

}

/* CSS for nav menus including all */
header .navbar ul li a{

    font-size: 19px;
    padding: 20px;
    color: #ff7f50;
    display: block;
    font-weight: bolder;
    font-family: Abel;
}

/* Css for hovering */
header .navbar ul li a:hover{
    color: #ff6348;
    /*background : #ced6e0;*/
}

/* CSS for categories -- sub categories*/
header .navbar ul li ul{
    position: absolute;
    left: 0;
    width:200px;
    background-color: #fff;
    display: none;
}

/* CSS for sub categories - divider lines*/
header .navbar ul li ul li{
    width: 100%;
    border-top: 0.2px solid rgba(0,0,0,.1);
}

/* CSS for subcategories -- hovering*/
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}